html, body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 3%);
    color: #ffffff;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
    margin: 10px;
}

div {
    margin: 40px;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block; /* Allows scaling */
    transform: scale(1.2);
    transition: transform 0.2s;
}

hr {
    border: none;
    border-top: 2px solid #ffffff; 
    width: 20%;
    opacity: 0.5;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}