html, body {
    font-family: Arial, sans-serif;
    background: linear-gradient(hsl(203, 100%, 2%), hsl(320, 100%, 1%));
    color: #ffffff;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
    font-weight: normal;
    margin: 10px;
}

div {
    margin: 40px;
}

section {
    align-self: center; 
    border: 3px, double, aqua;
    border-right-style: hidden;
    border-left-style: hidden;
    border-radius: 50px;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block; /* Allows scaling */
    transform: scale(1.2);
    transition: transform 0.2s;
}

hr {
    border: none;
    border-top: 2px solid #ffffff; 
    width: 20%;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}