body{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 3%);
    color: #ffffff;
    text-align: center;
}

a{
    color: aqua;
}

ul{
    text-align: center;
    list-style-type: square;
}

footer{
    padding-top: 10px;
    text-align: center;
}